# Ignore Electron node_modules
ElectronFile/node_modules/
ElectronFile/dist/
ElectronFile/out/
ElectronFile/*.exe
ElectronFile/*.dmg
ElectronFile/*.AppImage
ElectronFile/*.snap
ElectronFile/*.msi
ElectronFile/*.pkg
ElectronFile/*.zip
ElectronFile/*.tar.gz
